*{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(181, 122, 230);
}
.App {
  text-align: center;
  
}
.mydiv{
  display: flex;
  justify-content: space-between;
  margin:20px 20%;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgb(181, 122, 230);
  background-color: rgba(54, 45, 45, 0.863);
  
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
  margin: 10px;
}